.resource-type-toggle {
    display: flex;
    background: #e4e4e4;
    margin: 8px;
}

.resource-type-toggle .resource-type {
    text-transform: uppercase;
    color: #2b7ae5;
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
    text-align: left;
    line-height: 18px;
    padding: 6px 12px;
    border-radius: 4px;
    margin: 4px;
    min-width: 50px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.resource-type-toggle .resource-type:hover {
    opacity: .8;
}

.hidden {
    display: none !important;
}

.hidden-row {
    max-height: 0 !important;
    -webkit-transition: max-height 0.5s;
    -moz-transition: max-height 0.5s;
    -ms-transition: max-height 0.5s;
    -o-transition: max-height 0.5s;
    transition: max-height 0.5s;
    overflow: hidden;
}

.resource-type-toggle .resource-type span {
    display: inline-block;
    width: 19px;
    height: 19px;
    margin-left: 6px;
}

.resource-type-toggle .resource-type.alert span {
    background: url('../images/alert.png') no-repeat 0 0;
}

.resource-type-toggle .resource-type.error span {
    background: url('../images/error.png') no-repeat 0 0;
}

.resource-type-toggle .resource-type.active {
    background: linear-gradient(to top, #6c6c6c, #939393);
    color: #ffffff;
}

.scrollable-area {
    max-height: 100%;
    display: inline-block;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0 8px;
}

.error-container {
    padding: 8px;
    display: flex;
    background: #F0E0DE;
}

.error-container .error-status {
    font-family: 'Roboto', sans-serif;
    color: #E53E2B;
    font-weight: 600;
    margin-right: 5px;
}

.last-successful-run {
    color: #6b6b6b;
    margin-right: 5px;
}
.last-successful-run a {
    text-decoration: underline;
}
.last-successful-run a:hover {
    cursor: pointer;
}
.next-execution-time {
    margin-left: auto;
    color: #6b6b6b;
}

.engine-state {
    padding: 8px;
    color: white;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    overflow: auto;
    background: #6b6b6b;
}

.engine-state .status-spinner {
    position: absolute;
    left: 0;
    background: #0dbf7f;
    height: 100%;
    z-index: 1;
}

.engine-state .message {
    z-index: 2;
}

.sort-label {
    word-break: break-all;
    word-wrap: break-word;
}
.sort-label:hover {
    opacity: .8;
}

.no-map-on-mobile-warning {
    display: none;
    font-size: 20px;
    text-align: center;
    padding: 15px 0;
}

.data-is-loading {
    padding-top: 50px;
    text-align: center;
}

.warning-block {
    font-family: Roboto, sans-serif;
    padding: 10px;
    align-items: center;
}

.warning-block a {
    text-decoration: none;
    color: #2B7AE5;
    font-weight: 600;
}

.warning-note-1 {
    border: 1px solid #E53E2B;
    background-color: #F0E0DE;
    margin: 10px 0;
}

.warning-note-1 span.message {
    color: #000;
    margin-left: 10px;
}

.warning-note-1 span.error-icon {
    width: 20px;
    height: 20px;
    display: inline-block;
    background: url('../images/error.png') no-repeat 0 0;
}

@media screen and (max-width: 600px) {
    .resource-type.map-res {
        display: none !important;
    }

    .container .data-container .map.no-mobile {
        display: none !important;
    }

    .no-map-on-mobile-warning {
        display: block;
    }
}
