<!DOCTYPE html>
<html>
<head>
    <title>Default Panel</title>
    <link rel="stylesheet" href="./css/popup.css">
    <link rel="stylesheet" href="./css/map.css">
    <link rel="stylesheet" href="./css/deploy.css">
    <link rel="stylesheet" href="./css/audit.css">
    <link rel="stylesheet" href="./css/audit-resources.css">
    <link rel="stylesheet" href="./css/common.css">
</head>
<body>

<div class="ccthis"></div>
<div class="main-container">
    <div class="container">
        <div class="options-container">
            <div class="is-executing hidden">
                <div class="status-spinner"></div> <div>EXECUTING</div>
            </div>
            <div class="resource-type-toggle">
                <div class="resource-type audit-res"
                     value="audit">audit <span></span></div>
                <div class="resource-type deploy-res"
                     value="deploy">resources <span></span></div>
                <div class="resource-type map-res"
                     value="map">map <span></span></div>
            </div>
        </div>
        <div class="scrollable-area">
            <div class="data-container">
                <div class="deploy hidden">
                    <div class="custom-dropdown noselect layout-margin-bottom-20">
                        <div class="dropdown-button">
                            <div>SORT BY</div>
                            <div class="chosen-item-text">Timestamp</div>
                            <input type="hidden" class="chosen-item-value chosen-sorting" value="timestamp">
                            <input type="hidden" class="chosen-item-is-reverse" value="true">
                        </div>
                        <ul class="hidden resource-list-header deploy-list-header">
                            <li class="sort-label mobile" key="resourceType" data-value="resourceType">Resource type
                            </li>
                            <li class="sort-label mobile" key="resourceName" data-value="resourceName">Resource name
                            </li>
                            <li class="sort-label mobile" key="engineState" data-value="engineStatus">Status</li>
                            <li class="sort-label mobile" key="action" data-value="action">Action</li>
                            <li class="sort-label mobile" key="executionTime" data-value="executionTime">Execution
                                time
                            </li>
                            <li class="sort-label mobile" key="timestamp" data-value="timestamp">Timestamp</li>
                        </ul>
                    </div>
                    <div class="sticky-header">
                        <div class="resource-list-header">
                            <div class="sort-label type" key="resourceType">resource type</div>
                            <div class="sort-label name" key="resourceName">resource name</div>
                            <div class="sort-label status" key="engineStatus">status</div>
                            <div class="sort-label action" key="action">action</div>
                            <div class="sort-label executionTime" key="executionTime">execution time</div>
                            <div class="sort-label status-timestamp active" key="timestamp">timestamp</div>
                        </div>
                        <div class="messages error hidden">
                            <div class="messages-container">
                                <div class="message-left-part">
                                    <span class="message-status">ERROR</span>
                                    <span class="amount"></span>
                                    <span class="message"></span>
                                </div>
                                <div class="message-right-part">
                                    Next execution: <span class="next-execution">23h 24m 12s</span>
                                </div>
                            </div>
                        </div>
                        <div class="messages alert hidden">
                            <div class="messages-container">
                                <div class="message-left-part">
                                    <span class="message-status">ALERTS</span>
                                    <span class="amount"></span>
                                    <span class="message"></span>
                                </div>
                                <div class="message-right-part">
                                    Next execution: <span class="next-execution">23h 24m 12s</span>
                                </div>
                            </div>
                        </div>
                        <div class="messages ok hidden">
                            <div class="messages-container">
                                <div class="message-left-part">
                                    <span class="message-status">OK</span>
                                </div>
                                <div class="message-right-part">
                                    Next execution: <span class="next-execution"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="scrollable-list">
                        <div class="resources-list bg-white "></div>
                    </div>
                    <div id="no-deploy-resources" class="hidden">This execution has no additional resources.</div>
                    <div class="pagination">
                        <div class="resources-amount"></div>
                        <div class="pages"></div>
                    </div>
                </div>

                <div class="audit hidden">
                    <div id="no-violation-resources" class="hidden">
                        This composite has no audit resources.<br/>
                        <span class="browse-composites">Browse featured Composites</span> to see available audits.
                    </div>
                    <div id="resources-are-loading" class="hidden">Resources are being loaded</div>
                </div>
                <div class="audit flex-row hidden audit-list">
                    <div class="left-column layout-padding-right">
                        <div class="pie-data-header"><span class="num">0</span> Audit Violations</div>
                        <div class="custom-dropdown noselect layout-margin-bottom-20">
                            <div class="dropdown-button">
                                <div>SORT BY</div>
                                <div class="chosen-item-text">Severity Level</div>
                                <input type="hidden" class="chosen-item-value chosen-sorting" value="level">
                                <input type="hidden" class="chosen-item-is-reverse" value="true">
                            </div>
                            <ul class="hidden">
                                <li data-value="level">Severity Level</li>
                                <li data-value="category">Category</li>
                                <li data-value="service">Service</li>
                                <li data-value="region">Region</li>
                            </ul>
                        </div>
                        <div class="pie"></div>
                        <div class="additional-info separator-top layout-margin-top flex-row">
                            <div class="checks"></div>
                            <div class="passed link"></div>
                            <div class="disabled link"></div>
                        </div>
                    </div>
                    <div class="flex-grow">
                        <div id="advisor-errors"></div>
                        <div id="no-violations-view" class="hidden">
                            <div class="md-shadow bg-white no-violations-message layout-margin-bottom-20 layout-margin-top">
                                <div class="messages layout-padding">
                                    <div class="message-1">ALL CLEAR!</div>
                                    <div class="message-2">No violations found.</div>
                                    <div class="message-3">A tip of the hat to you, DevOps Jedi.</div>
                                </div>
                                <div><img src="./images/moose-cropped_no-violations.png"/></div>
                            </div>
                        </div>
                        <div class="list"></div>

                        <div id="popup" class="hidden">
                            <div class="backdrop"></div>
                            <div class="popup-body">
                                <div class="close">X</div>
                                <div class="popup-content"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="map map-container no-mobile layout-padding hidden bg-white md-shadow">
                </div>
                <div class="map no-map-on-mobile-warning hidden">
                    Sorry, but map is not available for mobile screens.
                </div>
            </div>
        </div>
    </div>
</div>


<div class="hidden">
    <div id="map-region-tpl">
        <div class="map-region">
            <div class="map-data-header">{{:region}}</div>
            <div class="flex-row">
                <div class="regions-list">
                    <div class="region">
                        {{for subregions}}
                        <div class="regions-subheader">{{:key}}</div>
                        <div class="resources">
                            <div class="flex-row">
                                <div class="deploy-bubble"></div>
                                <div class="message">{{:deployed}} {{:successMessage}}
                                    {{if !successMessage}} Resources Deployed{{/if}}
                                </div>
                            </div>
                            <div class="flex-row">
                                <div class="violation-bubble"></div>
                                <div class="message">{{:violations}} {{:errorMessage}}
                                    {{if !errorMessage}} Violations Found in Audit {{/if}}
                                </div>
                            </div>
                        </div>
                        {{/for}}
                        {{if subregionsWithoutData}}
                        <div class="regions-subheader">{{:subregionsWithoutData}}</div>
                        <div class="resources">
                            <div class="none">None</div>
                        </div>
                        {{/if}}
                    </div>
                </div>
                <div class="flex-row region-img {{:cssClass}}"></div>
            </div>
        </div>
    </div>

    <div id="global-region-tpl">
        <div class="global-region-chart">
            <img/>
            <div class="global-resources-list {{:key}}">
            </div>
        </div>
    </div>

    <div id="error-tpl">
        <div class="error">
            <div class="label">Error Message:</div>
            <div class="error-details"><span class="error-label">Error message: </span>{{:error_message}}</div>
            <div class="error-type"><span class="error-label">Error type: </span> {{:error_type}}</div>
            <div class="error-resource"><span class="error-label">Resource error: </span> {{:resource_error}}</div>
        </div>
    </div>

    <div id="list-header-tmpl">
        <div class="flex-row align-center">
            <div class="subheader flex-grow">{{:name}}</div>
            <div class="font-12 medium-grey">{{if resultsCount}} {{:resultsCount}} {{:resultsType}}{{/if}}
            </div>
        </div>
    </div>

    <div id="show-all-btn-tmpl">
        <div class="show-all">
            View all
        </div>
    </div>

    <div id="resource-row-tmpl">
        <div class="resource-row">
            <div class="view-row {{:engineStatusClass}}">
                <div class="type">{{:resourceType}}</div>
                <div class="name">{{:resourceName}}</div>
                <div class="status">{{:engineStatus}}</div>
                <div class="action">{{:action}}</div>
                <div class="executionTime">{{:executionTime}}</div>
                <div class="status-timestamp">{{:timestamp}}</div>
            </div>
            <div class="expandable-row hidden">
                <div class="logs">
                    <div class="inputs logs-output">
                        <div class="data-cont " resource="{{:_id}}">
                            <div class="label">Inputs:</div>
                        </div>
                        <div class='view-more layout-padding-8 hidden'>...<br/><br/> <span class="openInputs link"
                                                                                           resource="{{:_id}}">view more</span>
                        </div>
                    </div>
                    <div class="outputs logs-output">
                        <div class="data-cont">
                            <div class="label">Outputs:</div>
                        </div>
                        <div class='view-more layout-padding-8 hidden'>...<br/><br/><span class="openInputs link"
                                                                                          resource="{{:_id}}">view more</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="violation-error-tpl">
        <div class="advisor-error">
            <div class="view-row">
                <div>{{:resourceType}}</div>
                <div>{{:resourceName}}</div>
                <div><b>Error</b></div>
                <div>{{:inputs.action}}</div>
                <div class="medium-grey">{{:timestamp}}</div>
            </div>
            <div class="expandable-row hidden" style="display: none;">
                <div class="logs">
                    <div class="inputs logs-output">
                        <div class="label">Inputs:</div>
                        {{for rawInputs}}
                        <div class="flex-row">
                            <div>{{:name}}:</div>
                            <div class="layout-padding-left">{{:value}}</div>
                        </div>
                        {{/for}}
                    </div>
                    <div class="outputs logs-output">
                        <div class="label"><b>Error Message</b></div>
                        {{for rawOutputs}}
                        <div class="flex-column">
                            <div>{{:value.error_message}}</div>
                            <div>Error type: {{:value.error_type}}</div>
                            <div>Error resource: {{:value.resource_error}}</div>
                        </div>
                        {{/for}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="audit-resources-tpl">
        <div class="row audit-resources">
            <div class="header flex-row">
                <div class="flex-grow">
                    <div><b>{{:title}}</b></div>
                    <div>ID: {{:id}}</div>
                </div>
                <div class="level">{{:level}}</div>
                <div># Resources</div>
            </div>
            <div class="res-list">
                {{for resources}}
                <div class="audit-resource">
                    <div class="audit-resource-info flex-row layout-margin-bottom-8">
                        <div class="resource-id flex-grow">{{:id}}</div>
                        <div>{{:resourceName}}</div>
                        <div>{{:#parent.parent.data.service}}</div>
                        <div>{{:#parent.parent.data.region}}</div>
                    </div>
                    <div class="tags">
                        {{for tags}}
                        <div>{{:key}}: {{:value}}</div>
                        {{/for}}
                    </div>
                </div>
                {{/for}}
            </div>
        </div>
    </div>

    <div id="row-tmpl">
        <div class="flex-column row bg-white">
            <div class="flex-column layout-padding ">
                <div class="flex-row row-header flex-wrap">
                    <div class="flex-column flex-grow layout-padding-right">
                        <div class="title">{{:title}}</div>
                        <div class="violation-id">AlertId: {{:id}}</div>
                    </div>
                    <div class="medium-grey">{{:level}}</div>
                    {{if resources.length !== 0}}
                    <div class="medium-grey layout-padding-left">
                        {{:resources.length}} Resources
                    </div>
                    {{/if}}
                    <div class="medium-grey layout-padding-left">
                        {{:timestamp}}
                    </div>
                </div>
                <div class="details-btn link">+ view details</div>
            </div>
            <div class="row-body hidden" style="display: none;">
                <div class="flex-row separator-top flex-wrap">
                    <div class="flex-column separator-right flex-grow">
                        <div class="layout-padding">
                            <div class="layout-margin-bottom-8">
                                <i>Category</i><br/>
                                {{:category}}
                            </div>
                            <div>
                                <i>Description</i><br/>
                                {{:description}}
                            </div>
                        </div>
                        <div class="bg-light-grey layout-padding">
                            <i>Suggested Fix</i><br/>
                            {{:fix}}
                        </div>
                    </div>
                    <div class="flex-column row-right-column layout-padding">
                        {{if resources.length !== 0}}
                        <div class="link flex resources-link" violation="{{:id}}" violationId="{{:violationId}}"
                             sortKey="{{:sortKey}}"
                             reportId="{{:reportId}}">
                            {{:resources.length}} Resources
                            <img src="./images/right-chevron.svg" class="fa right"/>
                        </div>
                        {{/if}}
                        {{if link}}
                        <div class="link flex more-info-link" violation="{{:violationId}}">
                            <span>more info</span>
                            <img src="./images/right-chevron.svg" class="fa right"/>
                        </div>
                        {{/if}}
                        <div class="separator-top layout-margin-top-8 layout-margin-bottom-8"></div>
                        <div class="link flex share-link" violation="{{:violationId}}">
                            <img src="./images/envelope.svg" class="fa left"/>
                            share
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript" src="./js/jquery-2.2.4.min.js"></script>
<script type="text/javascript" src="./js/jsrender.min.js"></script>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script type="text/javascript" src="./js/utils.js"></script>
<script type="text/javascript" src="./js/pie.js"></script>
<script type="text/javascript" src="./js/static-map.js"></script>
<!--<script type="text/javascript" src="./js/map.js"></script>-->
<script type="text/javascript" src="./js/deploy.js"></script>
<script type="text/javascript" src="./js/audit.js"></script>
<script type="text/javascript" src="./js/script.js"></script>
</body>
</html>