<!DOCTYPE html>
<html>
<head>
    <title>Default Panel</title>
    <link rel="stylesheet" href="./css/popup.css">
    <link rel="stylesheet" href="./css/map.css">
    <link rel="stylesheet" href="./css/deploy.css">
    <link rel="stylesheet" href="./css/audit.css">
    <link rel="stylesheet" href="./css/audit-resources.css">
    <link rel="stylesheet" href="./css/common.css">
</head>
<body>

<div class="ccthis"></div>
<div class="main-container">
    <div class="container">
        <div class="run-error-wrapper"></div>
        <div class="options-container">
            <div class="data-is-loading hidden">
                <h2>Waiting for results...</h2>
                <img src="images/audit-layout_loading-4.gif"/>
            </div>
            <div class="resource-type-toggle">
                <div class="resource-type active audit-res"
                     value="audit">list</div>
                <div class="resource-type map-res"
                     value="map">map</div>
            </div>
        </div>
        <div class="scrollable-area">
            <div class="data-container">
                <div class="audit">
                    <div id="no-violation-resources" class="hidden">
                        This composite has no audit resources.<br/>
                        <span class="browse-composites">Browse featured Composites</span> to see available audits.
                    </div>
                    <div class="resources-are-loading hidden">
                        <img src="images/audit-layout_loading-4.gif"/>
                    </div>
                    <div class="hidden audit-data-is-not-ready">Audit data is processing. Full audit report is not available now.</div>
                    <div class="audit-list-block hidden audit-list">
                        <div class="left-column layout-padding-right">
                            <div class="pie-data-header"><span class="num">0</span> CIS Rules with Violations</div>
                            <div class="custom-dropdown noselect layout-margin-bottom-20">
                                <div class="dropdown-button">
                                    <div>SORT BY</div>
                                    <div class="chosen-item-text">Severity Level</div>
                                    <input type="hidden" class="chosen-item-value chosen-sorting" value="level">
                                    <input type="hidden" class="chosen-item-is-reverse" value="true">
                                </div>
                                <ul class="hidden">
                                    <li data-value="level">Severity Level</li>
                                    <li data-value="category">Category</li>
                                    <li data-value="service">Service</li>
                                    <li data-value="region">Region</li>
                                    <li data-value="meta_cis_id">CIS ID</li>
                                </ul>
                            </div>
                            <div class="pie"></div>
                            <div class="additional-info separator-top layout-margin-top flex-row">
                                <div class="passed-disabled-link link">View Passed &amp; Disabled Rules</div>
                            </div>
                        </div>
                        <div class="flex-grow">
                            <div id="advisor-errors"></div>
                            <div id="no-violations-view" class="hidden">
                                <div class="md-shadow bg-white no-violations-message layout-margin-bottom-20 layout-margin-top">
                                    <div class="messages layout-padding">
                                        <div class="message-1">ALL CLEAR!</div>
                                        <div class="message-2">No violations found.</div>
                                        <div class="message-3">A tip of the hat to you, DevOps Jedi.</div>
                                    </div>
                                    <div><img src="./images/moose-cropped_no-violations.png"/></div>
                                </div>
                            </div>

                            <div class="warning-block warning-note-1">
                                <span class="error-icon"></span>
                                <span class="message">Violation checks may be incomplete. <a href="#" id="warning-link"
                                                                                             class="warning-link">Please review</a> the error and run again to ensure completeness.</span>
                            </div>

                            <div class="list"></div>
                            <div class="no-violation"></div>

                            <div class="warning-block warning-note-2">
                                <span class="error-icon"></span>
                                <span class="message">
                                    Violation checks
                                    <a href="#warning-link">may be incomplete</a>,
                                    so we cannot show passed or disabled violations.
                                </span>
                            </div>

                            <div id="popup" class="hidden">
                                <div class="backdrop"></div>
                                <div class="popup-body">
                                    <div class="close">X</div>
                                    <div class="popup-content"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="map hidden">
                    <div class="hidden audit-data-is-not-ready">Map becomes available once audit data is processed.</div>
                    <div class="map-container no-mobile bg-white md-shadow"></div>
                    <div class="resources-are-loading"><img src="images/map-layout_loading.gif"/></div>
                    <div class="no-map-on-mobile-warning">
                        Sorry, but map is not available for mobile screens.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="hidden">
    <div id="map-region-tpl">
        <div class="map-region">
            {{if subregions}}
            <div class="map-data-header">{{:region}}</div>
            {{/if}}
            <div class="flex-row">
                {{if region == 'Global'}}
                <div class="regions-list">
                    <div class="region">
                        {{for subregions}}
                        <div class="regions-subheader">{{:key}}</div>
                        <div class="resources">
                            <div class="flex-row">
                                <div class="deploy-bubble"></div>
                                <div class="message">{{:deployed}} {{:successMessage}}
                                    {{if !successMessage}} Resources Deployed{{/if}}
                                </div>
                            </div>
                            <div class="flex-row">
                                <div class="violation-bubble"></div>
                                <div class="message">{{:violations}} {{:errorMessage}}
                                    {{if !errorMessage}} Violations Found in Audit {{/if}}
                                </div>
                            </div>
                        </div>
                        {{/for}}
                        {{if subregionsWithoutData}}
                        <div class="regions-subheader">{{:subregionsWithoutData}}</div>
                        <div class="resources">
                            <div class="none">None</div>
                        </div>
                        {{/if}}
                    </div>
                </div>
                {{/if}}
                <div class="flex-row region-img {{:cssClass}}"></div>
            </div>
        </div>
    </div>

    <div id="global-region-tpl">
        <div class="global-region-chart">
            <img/>
            <div class="global-resources-list {{:key}}">
            </div>
        </div>
    </div>

    <div id="run-error">
        <div class="run-error">
            <span class="label">Filed Run</span>
            <span class="timestamp">on {{:timestamp}}.</span>
            <span>Below are the results of the last successful run.</span>
            <a id="view-run-error" engineStatus="{{:engineStatus}}" runId="{{:runId}}">View error</a>
        </div>
    </div>

    <div id="list-header-tmpl">
        <div class="flex-row align-center">
            <div class="subheader flex-grow">{{:name}}</div>
            <div class="font-12 medium-grey">{{if resultsCount}} {{:resultsCount}} {{:resultsType}}{{/if}}
            </div>
        </div>
    </div>

    <div id="resource-row-tmpl">
        <div class="resource-row {{if isOld}}old-data-mask{{/if}}">
            <div class="view-row {{:engineStatusClass}} {{if opened}}opened{{/if}}" resource="{{:_id}}">
                <div class="chevron"></div>
                <div class="type">{{:resourceType}}</div>
                <div class="name">{{:resourceName}}</div>
                <div class="status">{{:engineStatus}}</div>
                <div class="action">{{:action}}</div>
                <div class="executionTime">{{:executionTime}}</div>
                <div class="status-timestamp">{{:formattedTimestamp}}</div>
            </div>
            <div class="expandable-row {{if !opened}}hidden-row{{/if}}">
                <div class="logs">
                    <div class="inputs logs-output">
                        <div class="data-cont" resource="{{:_id}}">
                            <div class="label">Inputs:</div>
                        </div>
                        <div class='view-more layout-padding-8 hidden'>...<br/><br/> <span class="openInputs link"
                                                                                           resource="{{:_id}}">view more</span>
                        </div>
                    </div>
                    <div class="outputs logs-output">
                        <div class="data-cont">
                            <div class="label">Outputs:</div>
                        </div>
                        <div class='view-more layout-padding-8 hidden'>...<br/><br/><span class="openInputs link"
                                                                                          resource="{{:_id}}">view more</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="violation-error-tpl">
        <div class="advisor-error">
            <div class="view-row">
                <div>{{:resourceType}}</div>
                <div>{{:resourceName}}</div>
                <div><b>Error</b></div>
                <div>{{:inputs.action}}</div>
                <div class="medium-grey">{{:timestamp}}</div>
            </div>
            <div class="expandable-row hidden" style="display: none;">
                <div class="logs">
                    <div class="inputs logs-output">
                        <div class="label">Inputs:</div>
                        {{for rawInputs}}
                        <div class="flex-row">
                            <div>{{:name}}:</div>
                            <div class="layout-padding-left">{{:value}}</div>
                        </div>
                        {{/for}}
                    </div>
                    <div class="outputs logs-output">
                        <div class="label"><b>Error Message</b></div>
                        {{for rawOutputs}}
                        <div class="flex-column">
                            <div>{{:value.error_message}}</div>
                            <div>Error type: {{:value.error_type}}</div>
                            <div>Error resource: {{:value.resource_error}}</div>
                        </div>
                        {{/for}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="audit-resources-tpl">
        <div class="row audit-resources">
            <div class="header flex-row">
                <div class="flex-grow">
                    <div><b>{{:title}}</b></div>
                    <div>ID: {{:id}}</div>
                </div>
                <div class="level">{{:level}}</div>
                <div># Resources</div>
            </div>
            <div class="res-list">
                {{for resources}}
                <div class="audit-resource">
                    <div class="audit-resource-info flex-row layout-margin-bottom-8">
                        <div class="resource-id flex-grow">{{:id}}</div>
                        <div>{{:resourceName}}</div>
                        <div>{{:#parent.parent.data.service}}</div>
                        <div>{{:#parent.parent.data.region}}</div>
                    </div>
                    <div class="tags">
                        {{for tags}}
                        <div>{{:key}}: {{:value}}</div>
                        {{/for}}
                    </div>
                </div>
                {{/for}}
            </div>
        </div>
    </div>

    <div id="passed-and-disabled-row">
        <div class="flex-column bg-light-grey {{if violation.link}}more-info-link opacity-hover-80{{/if}}"
             violation="{{:violation.violationId}}"
             link="{{:violation.link}}">
            <div class="flex-row row-header flex-wrap border-grey layout-padding">
                <div class="flex-column flex-50 layout-padding-right">
                    <div class="passed-disabled-title">{{:violation.title}} {{if violation.meta_cis_id}}CIS ID: {{:violation.meta_cis_id}}{{/if}}</div>
                </div>
                <div class="flex-row flex-50 layout-padding-right">
                    {{if resultsType === 'PASSED'}}
                    <div class="violation-level flex-50">PASSED</div>
                    {{if violation.suppressions.length}}
                    <span class="suppressed resources-suppressed-link"
                          violation="{{:violation.id}}"
                          violationId="{{:violation.violationId}}">
                            <span class="value">{{:violation.suppressions.length}} </span>SUPPRESSED</span>
                    {{/if}}
                    {{else}}
                    <div class="violation-level">{{:violation.level}}</div>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>

    <div id="row-tmpl">
        {{if isVisible}}
        <div class="violation-row flex-column layout-padding {{if isViolation }} bg-white border-left {{else}} border-no-violation bg-light-grey {{/if}}">
            <div class="flex-row row-header flex-wrap">
                <div class="flex-column flex-grow layout-padding-right">
                    <div class="title">{{:violation.title}}</div>
                    <div class="violation-id flex-row">
                        <div class="layout-padding-right">RuleId: {{:violation.id}}</div>
                        {{if violation.meta_cis_id}}
                        <span>CIS ID: {{:violation.meta_cis_id}}</span>
                        {{/if}}
                    </div>
                </div>

                <div class="medium-grey layout-padding-left">{{:violation.level}}</div>
                <div class="medium-grey layout-padding-left">
                    {{if !isViolation }}
                        {{if violation.isPassed}}
                            No violation
                        {{else}}
                            Disabled
                        {{/if}}
                    {{/if}}
                </div>
                {{if violation.resources.length || violation.suppressions.length }}
                <div class="medium-grey layout-padding-left {{if isViolation}}resources-title-link{{/if}} flex-column"
                     violation="{{:violation.id}}"
                     violationId="{{:violation.violationId}}"
                     sortKey="{{:violation.sortKey}}">

                        {{if violation.resources.length}}
                            {{:violation.resources.length}} Violating Cloud Object{{if violation.resources.length !== 1}}s{{/if}}
                        {{/if}}

                        {{if violation.suppressions.length}}
                        <span class="suppressed"><span
                                class="value">{{:violation.suppressions.length}} </span>SUPPRESSED</span>
                        {{/if}}
                </div>
                {{/if}}

                {{if violation.timestamp}}
                <div class="medium-grey layout-padding-left">
                    {{:violation.timestamp}}
                </div>
                {{/if}}
            </div>
            <div class="details-btn link">+ view details</div>
        </div>
        {{/if}}
        <div class="row-body hidden-row bg-white  {{if isViolation}}border-left{{/if}}">
            <div class="flex-row separator flex-wrap">
                <div class="flex-column separator-right flex-grow">
                    <div class="layout-padding">
                        <div class="layout-margin-bottom-8">
                            <i>Category</i><br/>
                            {{:violation.category}}
                        </div>
                        <div>
                            <i>Description</i><br/>
                            {{:violation.description}}
                        </div>
                    </div>
                    {{for violation.metas}}
                    <div class="meta-info">
                        <i>{{:key}}</i><br/> {{:value}}
                    </div>
                    {{/for}}
                    <div class="layout-padding suggestions-block">
                        <i>Suggested Fix</i><br/>
                        {{:violation.suggested_action}}
                    </div>
                </div>
                <div class="flex-column row-right-column layout-padding">
                    {{if violation.link}}
                    <div class="link flex more-info-link" violation="{{:violation.violationId}}"
                         link="{{:violation.link}}">
                        <img src="./images/info.png" class="fa left"/>
                        <span>more info</span>
                        <img src="./images/right-chevron.svg" class="fa right"/>
                    </div>
                    {{/if}}
                    <div class="separator-top layout-margin-top-8 layout-margin-bottom-8"></div>

                    {{if !isPassed}}
                    <div class="link flex share-link"
                         violation="{{:violation.id}}"
                         violationId="{{:violation.violationId}}"
                         sortKey="{{:violation.sortKey}}">
                        <img src="./images/envelope.svg" class="fa left"/>
                        share
                    </div>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="js/vendor/jquery-2.2.4.min.js"></script>
<script type="text/javascript" src="js/vendor/jsrender.min.js"></script>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="https://d3js.org/d3-selection-multi.v1.min.js"></script>
<script type="text/javascript" src="./js/configs/constants.js"></script>
<script type="text/javascript" src="./js/utils.js"></script>
<script type="text/javascript" src="./js/pie.js"></script>
<script type="text/javascript" src="./js/map/static-map.js"></script>
<!--<script type="text/javascript" src="./js/map.js"></script>-->
<script type="text/javascript" src="./js/schemas/Violation.js"></script>
<script type="text/javascript" src="./js/schemas/Resource.js"></script>
<script type="text/javascript" src="./js/schemas/AlertData.js"></script>
<script type="text/javascript" src="./js/audit/AuditUtils.js"></script>
<script type="text/javascript" src="./js/audit/AuditRender.js"></script>
<script type="text/javascript" src="./js/audit/AuditUI.js"></script>
<script type="text/javascript" src="./js/deploy.js"></script>
<script type="text/javascript" src="./js/audit/audit.js"></script>
<script type="text/javascript" src="./js/script.js"></script>
</body>
</html>
