<!DOCTYPE html>
<html>
<head>
    <title>Default Panel</title>
    <link rel="stylesheet" href="./css/popup.css">
    <link rel="stylesheet" href="./css/map.css">
    <link rel="stylesheet" href="./css/deploy.css">
    <link rel="stylesheet" href="./css/audit.css">
    <link rel="stylesheet" href="./css/audit-resources.css">
    <link rel="stylesheet" href="./css/common.css">
</head>
<body>

<div class="ccthis"></div>
<div class="main-container">
    <div class="container">
        <div class="options-container">
            <div class="engine-state hidden">
                <div class="status-spinner"></div>
                <div class="message">EXECUTING</div>
            </div>
            <div class="data-is-loading hidden">
                <img src="images/audit-layout_loading-4.gif"/>
            </div>
            <div class="compile-error hidden">
                <div class="error-state"></div>
                <div class="last-successful-run">prevented a run on <span></span></div>
                <div class="last-successful-run"><a class="compile-error-details">view details</a></div>
                <div class="next-execution-time">Next execution: <span></span></div>
            </div>
            <div class="resource-type-toggle">
                <div class="resource-type audit-res"
                     value="audit">audit <span></span></div>
                <div class="resource-type deploy-res"
                     value="deploy">resources <span></span></div>
                <div class="resource-type map-res"
                     value="map">map <span></span></div>
            </div>
        </div>
        <div class="scrollable-area">
            <div class="data-container">
                <div class="deploy hidden">
                    <div class="custom-dropdown noselect layout-margin-bottom-20">
                        <div class="dropdown-button">
                            <div>SORT BY</div>
                            <div class="chosen-item-text">Timestamp</div>
                            <input type="hidden" class="chosen-item-value chosen-sorting" value="timestamp">
                            <input type="hidden" class="chosen-item-is-reverse" value="true">
                        </div>
                        <ul class="hidden resource-list-header deploy-list-header">
                            <li class="sort-label mobile" key="resourceType" data-value="resourceType">Resource type
                            </li>
                            <li class="sort-label mobile" key="resourceName" data-value="resourceName">Resource name
                            </li>
                            <li class="sort-label mobile" key="engineState" data-value="engineStatus">Status</li>
                            <li class="sort-label mobile" key="action" data-value="action">Action</li>
                            <li class="sort-label mobile" key="executionTime" data-value="executionTime">Execution
                                time
                            </li>
                            <li class="sort-label mobile" key="timestamp" data-value="timestamp">Timestamp</li>
                        </ul>
                    </div>
                    <div class="sticky-header">
                        <div class="resource-list-header">
                            <div class="sort-label type" key="resourceType">resource type</div>
                            <div class="sort-label name" key="resourceName">resource name</div>
                            <div class="sort-label status" key="engineStatus">status</div>
                            <div class="sort-label action" key="action">action</div>
                            <div class="sort-label executionTime" key="executionTime">execution time</div>
                            <div class="sort-label status-timestamp active" key="timestamp">timestamp</div>
                        </div>
                        <div class="messages error hidden">
                            <div class="messages-container">
                                <div class="message-left-part">
                                    <span class="message-status">ERROR</span>
                                    <span class="amount"></span>
                                    <span class="message"></span>
                                </div>
                                <div class="message-right-part">
                                    Next execution: <span class="next-execution">23h 24m 12s</span>
                                </div>
                            </div>
                        </div>
                        <div class="messages alert hidden">
                            <div class="messages-container">
                                <div class="message-left-part">
                                    <span class="message-status">ALERTS</span>
                                    <span class="amount"></span>
                                    <span class="message"></span>
                                </div>
                                <div class="message-right-part">
                                    Next execution: <span class="next-execution">23h 24m 12s</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="scrollable-list">
                        <div class="resources-list bg-white "></div>
                    </div>
                    <div id="no-deploy-resources" class="hidden">This execution has no additional resources.</div>
                    <div class="pagination">
                        <div class="resources-amount"></div>
                        <div class="pages"></div>
                    </div>
                </div>

                <div class="audit hidden">
                    <div id="no-violation-resources" class="hidden">
                        This composite has no audit resources.<br/>
                        <span class="browse-composites">Browse featured Composites</span> to see available audits.
                    </div>
                    <div class="resources-are-loading hidden">
                        <img src="images/audit-layout_loading-4.gif"/>
                    </div>
                </div>
                <div class="audit flex-row hidden audit-list">
                    <div class="left-column layout-padding-right">
                        <div class="pie-data-header"><span class="num">0</span> Violating Cloud Objects</div>
                        <div class="custom-dropdown noselect layout-margin-bottom-20">
                            <div class="dropdown-button">
                                <div>SORT BY</div>
                                <div class="chosen-item-text">Severity Level</div>
                                <input type="hidden" class="chosen-item-value chosen-sorting" value="level">
                                <input type="hidden" class="chosen-item-is-reverse" value="true">
                            </div>
                            <ul class="hidden">
                                <li data-value="level">Severity Level</li>
                                <li data-value="category">Category</li>
                                <li data-value="service">Service</li>
                                <li data-value="region">Region</li>
                            </ul>
                        </div>
                        <div class="pie"></div>
                        <div class="additional-info separator-top layout-margin-top flex-row">
                            <div class="passed-disabled-link link">View Passed & Disabled Rules</div>
                        </div>
                    </div>
                    <div class="flex-grow">
                        <div id="advisor-errors"></div>
                        <div id="no-violations-view" class="hidden">
                            <div class="md-shadow bg-white no-violations-message layout-margin-bottom-20 layout-margin-top">
                                <div class="messages layout-padding">
                                    <div class="message-1">ALL CLEAR!</div>
                                    <div class="message-2">No violations found.</div>
                                    <div class="message-3">A tip of the hat to you, DevOps Jedi.</div>
                                </div>
                                <div><img src="./images/moose-cropped_no-violations.png"/></div>
                            </div>
                        </div>

                        <div class="warning-block warning-note-1">
                            <span class="error-icon"></span>
                            <span class="message">Violation checks may be incomplete. <a href="#" id="warning-link"
                                                                                         class="warning-link">Please review</a> the error and run again to ensure completeness.</span>
                        </div>

                        <div class="list"></div>

                        <div class="warning-block warning-note-2">
                            <span class="error-icon"></span>
                            <span class="message">
                                Violation checks
                                <a href="#warning-link">may be incomplete</a>,
                                so we cannot show passed or disabled violations.
                            </span>
                        </div>

                        <div id="popup" class="hidden">
                            <div class="backdrop"></div>
                            <div class="popup-body">
                                <div class="close">X</div>
                                <div class="popup-content"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="map map-container no-mobile layout-padding hidden bg-white md-shadow">
                </div>
                <div class="map hidden">
                    <div class="resources-are-loading"><img src="images/map-layout_loading.gif"/></div>
                </div>
                <div class="map no-map-on-mobile-warning hidden">
                    Sorry, but map is not available for mobile screens.
                </div>
            </div>
        </div>
    </div>
</div>


<div class="hidden">
    <div id="map-region-tpl">
        <div class="map-region">
            {{if subregions}}
            <div class="map-data-header">{{:region}}</div>
            {{/if}}
            <div class="flex-row">
                {{if region == 'Global'}}
                <div class="regions-list">
                    <div class="region">
                        {{for subregions}}
                        <div class="regions-subheader">{{:key}}</div>
                        <div class="resources">
                            <div class="flex-row">
                                <div class="deploy-bubble"></div>
                                <div class="message">{{:deployed}} {{:successMessage}}
                                    {{if !successMessage}} Resources Deployed{{/if}}
                                </div>
                            </div>
                            <div class="flex-row">
                                <div class="violation-bubble"></div>
                                <div class="message">{{:violations}} {{:errorMessage}}
                                    {{if !errorMessage}} Violations Found in Audit {{/if}}
                                </div>
                            </div>
                        </div>
                        {{/for}}
                        {{if subregionsWithoutData}}
                        <div class="regions-subheader">{{:subregionsWithoutData}}</div>
                        <div class="resources">
                            <div class="none">None</div>
                        </div>
                        {{/if}}
                    </div>
                </div>
                {{/if}}
                <div class="flex-row region-img {{:cssClass}}"></div>
            </div>
        </div>
    </div>

    <div id="global-region-tpl">
        <div class="global-region-chart">
            <img/>
            <div class="global-resources-list {{:key}}">
            </div>
        </div>
    </div>

    <div id="error-tpl">
        <div class="error">
            <div class="label">Error Message:</div>
            <div class="error-details"><span class="error-label">Error message: </span>{{:error_message}}</div>
            <div class="error-type"><span class="error-label">Error type: </span> {{:error_type}}</div>
            <div class="error-resource"><span class="error-label">Resource error: </span> {{:resource_error}}</div>
        </div>
    </div>

    <div id="list-header-tmpl">
        <div class="flex-row align-center">
            <div class="subheader flex-grow">{{:name}}</div>
            <div class="font-12 medium-grey">{{if resultsCount}} {{:resultsCount}} {{:resultsType}}{{/if}}
            </div>
        </div>
    </div>

    <div id="show-all-btn-tmpl">
        <div class="show-all">
            View all
        </div>
    </div>

    <div id="resource-row-tmpl">
        <div class="resource-row {{if isOld}}opacity-hover-60-static{{/if}}">
            <div class="view-row {{:engineStatusClass}}">
                <div class="chevron"></div>
                <div class="type">{{:resourceType}}</div>
                <div class="name">{{:resourceName}}</div>
                <div class="status">{{:engineStatus}}</div>
                <div class="action">{{:action}}</div>
                <div class="executionTime">{{:executionTime}}</div>
                <div class="status-timestamp">{{:timestamp}}</div>
            </div>
            <div class="expandable-row hidden-row">
                <div class="logs">
                    <div class="inputs logs-output">
                        <div class="data-cont" resource="{{:_id}}">
                            <div class="label">Inputs:</div>
                        </div>
                        <div class='view-more layout-padding-8 hidden'>...<br/><br/> <span class="openInputs link"
                                                                                           resource="{{:_id}}">view more</span>
                        </div>
                    </div>
                    <div class="outputs logs-output">
                        <div class="data-cont">
                            <div class="label">Outputs:</div>
                        </div>
                        <div class='view-more layout-padding-8 hidden'>...<br/><br/><span class="openInputs link"
                                                                                          resource="{{:_id}}">view more</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="violation-error-tpl">
        <div class="advisor-error">
            <div class="view-row">
                <div>{{:resourceType}}</div>
                <div>{{:resourceName}}</div>
                <div><b>Error</b></div>
                <div>{{:inputs.action}}</div>
                <div class="medium-grey">{{:timestamp}}</div>
            </div>
            <div class="expandable-row hidden" style="display: none;">
                <div class="logs">
                    <div class="inputs logs-output">
                        <div class="label">Inputs:</div>
                        {{for rawInputs}}
                        <div class="flex-row">
                            <div>{{:name}}:</div>
                            <div class="layout-padding-left">{{:value}}</div>
                        </div>
                        {{/for}}
                    </div>
                    <div class="outputs logs-output">
                        <div class="label"><b>Error Message</b></div>
                        {{for rawOutputs}}
                        <div class="flex-column">
                            <div>{{:value.error_message}}</div>
                            <div>Error type: {{:value.error_type}}</div>
                            <div>Error resource: {{:value.resource_error}}</div>
                        </div>
                        {{/for}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="audit-resources-tpl">
        <div class="row audit-resources">
            <div class="header flex-row">
                <div class="flex-grow">
                    <div><b>{{:title}}</b></div>
                    <div>ID: {{:id}}</div>
                </div>
                <div class="level">{{:level}}</div>
                <div># Resources</div>
            </div>
            <div class="res-list">
                {{for resources}}
                <div class="audit-resource">
                    <div class="audit-resource-info flex-row layout-margin-bottom-8">
                        <div class="resource-id flex-grow">{{:id}}</div>
                        <div>{{:resourceName}}</div>
                        <div>{{:#parent.parent.data.service}}</div>
                        <div>{{:#parent.parent.data.region}}</div>
                    </div>
                    <div class="tags">
                        {{for tags}}
                        <div>{{:key}}: {{:value}}</div>
                        {{/for}}
                    </div>
                </div>
                {{/for}}
            </div>
        </div>
    </div>

    <div id="passed-and-disabled-row">
        <div class="flex-column bg-white more-info-link opacity-hover-80 border-left"
             violation="{{:violation.violationId}}"
             link="{{:violation.link}}">
            <div class="flex-row row-header flex-wrap border-grey layout-padding bg-white">
                <div class="flex-column flex-50 layout-padding-right">
                    <div class="passed-disabled-title">{{:violation.title}}</div>
                </div>
                <div class="flex-row flex-50 layout-padding-right">
                    {{if resultsType === 'PASSED'}}
                    <div class="violation-level flex-50">PASSED</div>
                    {{if violation.suppressions.length}}
                    <span class="suppressed resources-suppressed-link"
                          violation="{{:violation.id}}"
                          violationId="{{:violation.violationId}}">
                            <span class="value">{{:violation.suppressions.length}} </span>SUPPRESSED</span>
                    {{/if}}
                    {{else}}
                    <div class="violation-level">{{:violation.level}}</div>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>

    <div id="row-tmpl">
        <div class="violation-row flex-column layout-padding bg-white layout-margin-bottom-1 border-left">
            <div class="flex-row row-header flex-wrap">
                <div class="flex-column flex-grow layout-padding-right">
                    <div class="title">{{:violation.title}}</div>
                    <div class="violation-id">AlertId: {{:violation.id}}</div>
                </div>
                <div class="medium-grey">{{:violation.level}}</div>
                {{if violation.resources.length || violation.suppressions.length }}
                <div class="medium-grey layout-padding-left resources-title-link flex-column"
                     violation="{{:violation.id}}"
                     violationId="{{:violation.violationId}}"
                     sortKey="{{:violation.sortKey}}">
                    {{if violation.resources.length }}
                    {{:violation.resources.length}} Cloud Objects
                    {{/if}}
                    {{if violation.suppressions.length}}
                    <span class="suppressed"><span
                            class="value">{{:violation.suppressions.length}} </span>SUPPRESSED</span>
                    {{/if}}
                </div>
                {{/if}}

                {{if violation.timestamp}}
                <div class="medium-grey layout-padding-left">
                    {{:violation.timestamp}}
                </div>
                {{/if}}
            </div>
            <div class="details-btn link">+ view details</div>
        </div>
        <div class="row-body hidden-row bg-white border-left">
            <div class="flex-row separator flex-wrap">
                <div class="flex-column separator-right flex-grow">
                    <div class="layout-padding">
                        <div class="layout-margin-bottom-8">
                            <i>Category</i><br/>
                            {{:violation.category}}
                        </div>
                        <div>
                            <i>Description</i><br/>
                            {{:violation.description}}
                        </div>
                    </div>
                    <div class="layout-padding bg-white">
                        <i>Suggested Fix</i><br/>
                        {{:violation.fix}}
                    </div>
                </div>
                <div class="flex-column row-right-column layout-padding">
                    {{if violation.resources.length !== 0}}
                    <div class="link flex resources-link" violation="{{:violation.id}}"
                         violationId="{{:violation.violationId}}"
                         sortKey="{{:violation.sortKey}}">
                        {{:violation.resources.length}} Cloud Objects
                        <img src="./images/right-chevron.svg" class="fa right"/>
                    </div>
                    {{/if}}
                    {{if violation.link}}
                    <div class="link flex more-info-link" violation="{{:violation.violationId}}"
                         link="{{:violation.link}}">
                        <span>more info</span>
                        <img src="./images/right-chevron.svg" class="fa right"/>
                    </div>
                    {{/if}}
                    <div class="separator-top layout-margin-top-8 layout-margin-bottom-8"></div>
                    <div class="link flex share-link" violation="{{:violation.violationId}}">
                        <img src="./images/envelope.svg" class="fa left"/>
                        share
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script type="text/javascript" src="./js/jquery-2.2.4.min.js"></script>
<script type="text/javascript" src="./js/jsrender.min.js"></script>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script src="https://d3js.org/d3-selection-multi.v1.min.js"></script>
<script type="text/javascript" src="./js/utils.js"></script>
<script type="text/javascript" src="./js/pie.js"></script>
<script type="text/javascript" src="./js/static-map.js"></script>
<!--<script type="text/javascript" src="./js/map.js"></script>-->
<script type="text/javascript" src="./js/deploy.js"></script>
<script type="text/javascript" src="./js/audit.js"></script>
<script type="text/javascript" src="./js/script.js"></script>
</body>
</html>
